<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Task</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Adding new task</h3>
    <form action="/" method="post">
        <div class='newtask'>
            <div>
                <label for="desc">Description:</label><br>
                <textarea name="Description"id="desc" cols='50' rows='10'></textarea>
            </div>
            <div>
                Completed: <select name="Completed">
                            <option value="true">true</option>
                            <option value="false">false</option>
                </select>
                           
            </div>
        </div>
        <input type="submit" value="Submit Now">
        
    </form>
</body>
</html>